{
  "swagger": "2.0",
  "info": {
    "version": "",
    "title": "TopCoder API",
    "description": "TODO: Add a description",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "api.topcoder.com",
  "basePath": "/v2",
  "securityDefinitions": {},
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/auth": {
      "post": {
        "description": "",
        "tags": [
          "Authorization"
        ],
        "operationId": "Create JWT Token_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The username"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The password"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateJWTTokenresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/reauth": {
      "post": {
        "description": "",
        "tags": [
          "Authorization"
        ],
        "operationId": "Create_Refresh JWT Token_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The old JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RefreshJWTTokenresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/validation/sso": {
      "get": {
        "description": "",
        "tags": [
          "Authorization"
        ],
        "operationId": "Get_Validate SSO Cookie_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Cookie",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The sso cookie"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ValidateSSOCookieresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/reports/costs/{startDate}/{endDate}?clientid={clientId}&billingId={billingId}&projectId={projectId}&challengeId={challengeId}": {
      "get": {
        "description": "",
        "tags": [
          "Reports"
        ],
        "operationId": "Get_Challenge Costs_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Start Date"
          },
          {
            "name": "endDate",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "End Date"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "Client Id"
          },
          {
            "name": "billingId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "Billing Id"
          },
          {
            "name": "projectId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "Project Id"
          },
          {
            "name": "challengeId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "Challenge Id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChallengeCostsresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/reports/client/costs/?startDate={startDate}&endDate={endDate}&clientid={clientId}&sfdcAccountId={sfdcAccountId}&customerNumber={customerNumer}": {
      "get": {
        "description": "",
        "tags": [
          "Reports"
        ],
        "operationId": "Get_Client Challenge Costs_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Start Date"
          },
          {
            "name": "endDate",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "End Date"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "Client Id"
          },
          {
            "name": "sfdcAccountId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "SFDC Account Id"
          },
          {
            "name": "customerNumber",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "Customer Number"
          },
          {
            "name": "customerNumer",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientChallengeCostsresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/reports/client/activeCosts/?clientid={clientId}&sfdcAccountId={cmc}&customerNumber={customerNumber}": {
      "get": {
        "description": "",
        "tags": [
          "Reports"
        ],
        "operationId": "Get_Client Active Challenge Costs_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "Client Id"
          },
          {
            "name": "sfdcAccountId",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "CMC account ID"
          },
          {
            "name": "customerNumber",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "Customer number"
          },
          {
            "name": "cmc",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ClientActiveChallengeCostsresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/reports/analyze?projectId={projectId}&openRegistrationDateFrom={openRegistrationDateFrom}&openRegistrationDateTo={openRegistrationDateTo}&challengeType={challengeType}&challengeName={challengeName}&prizeLower={prizeLower}&prizeUpper={prizeUpper}": {
      "get": {
        "description": "",
        "tags": [
          "Reports"
        ],
        "operationId": "Get_Challenge Analyze_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The project id."
          },
          {
            "name": "openRegistrationDateFrom",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The open registration date from."
          },
          {
            "name": "openRegistrationDateTo",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The open registration date to."
          },
          {
            "name": "challengeType",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The challenge type."
          },
          {
            "name": "challengeName",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The challenge name."
          },
          {
            "name": "prizeLower",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The prize lower bound"
          },
          {
            "name": "prizeUpper",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The prize upper bound."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/reports/{track}?startDate={startDate}&endDate={endDate}": {
      "get": {
        "description": "",
        "tags": [
          "Reports"
        ],
        "operationId": "Get_Track Statistics_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "track",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Track Name. Only allow \"Design\", \"Develop\" and \"Data\""
          },
          {
            "name": "startDate",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "timespan start date"
          },
          {
            "name": "endDate",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "timespan end date"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TrackStatisticsresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/platform/activitySummary": {
      "get": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Get Activity Summary_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetActivitySummaryresponse"
            }
          }
        }
      }
    },
    "/platform/activeBillingAccounts": {
      "get": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Get_Active Billing Accounts_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/platform/customer": {
      "post": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Create Customer_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The customer name"
          },
          {
            "name": "customerNumber",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The customer number"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateCustomerresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/platform/billing": {
      "post": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Create Billing_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subscriptionNumber",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The subscription number of the project to create"
          },
          {
            "name": "customerNumber",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The customer number of the client with which to associate the project"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The billing account start date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The billing account end date"
          },
          {
            "name": "billingAccountId",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The billing account id"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "billing account active status (1 - active, 0 - inactive)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateBillingresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/platform/billings/{billingAccountId}/users": {
      "post": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Update Billing Account Permission_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The billing account id that account to update"
          },
          {
            "name": "users",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The users to attach to billing account"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateBillingAccountPermissionresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/platform/leaderboard": {
      "get": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Get Leaderboard_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The leaderboard type"
          },
          {
            "name": "utmMedium",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The referral type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetLeaderboardresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/{challengeId}": {
      "get": {
        "description": "",
        "tags": [
          "Studio Challenges"
        ],
        "operationId": "Get Studio Challenge Detail_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetStudioChallengeDetailresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/registrants/{challengeId}": {
      "get": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Get Challenge Registrants_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetChallengeRegistrantsresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/submissions/{challengeId}": {
      "get": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Get Challenge Submissions_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetChallengeSubmissionsresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/phases/{challengeId}": {
      "get": {
        "description": "",
        "tags": [
          "Platform"
        ],
        "operationId": "Get Challenge Phases_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetChallengePhasesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users": {
      "post": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Create a new user via social login_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "schema": {
              "$ref": "#/definitions/Createanewuserviasocialloginrequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Createanewuserviasocialloginresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "422": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/{handle}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get_Public Profile_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PublicProfileresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get_My Profile_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MyProfileresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      },
      "post": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Create_My Profile_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/activation-email": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get_My Profile_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MyProfileresponse24"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/{handle}/challenges/develop?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get User Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle"
          },
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The paging number, 1-based, -1 if no paging. It can be null."
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The max number of the results, should be set if pageIndex is set."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null.It should be one of id, type, placement, prize, numContestants, numSubmissions, codingDuration."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetUserChallengesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/{handle}/challenges/design?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get User Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle"
          },
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The paging number, 1-based, -1 if no paging. It can be null."
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The max number of the results, should be set if pageIndex is set."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null,it's value should be one of id, type, placement, prize, num_contestants, num_submitters, coding_duration."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetUserChallengesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/challenges?type={type}&pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}&challengeType={challengeType}&platforms={platforms}&technologies={technologies}&prizeLowerBound={prizeLowerBound}&prizeUpperBound={prizeUpperBound}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Search My Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "type (design or develop)"
          },
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The paging number, 1-based, -1 if no paging. It can be null."
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The max number of the results, should be set if pageIndex is set."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          },
          {
            "name": "communityId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The community id."
          },
          {
            "name": "submissionEndFrom",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date from value."
          },
          {
            "name": "submissionEndTo",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date to value."
          },
          {
            "name": "challengeType",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "challenge type"
          },
          {
            "name": "platforms",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "platforms filter"
          },
          {
            "name": "technologies",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "technologies filter"
          },
          {
            "name": "prizeLowerBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize lowerbound"
          },
          {
            "name": "prizeUpperBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize upperbound"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchMyChallengesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "406": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/identity": {
      "get": {
        "description": "Request",
        "tags": [
          "User Profile"
        ],
        "operationId": "Search My Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchMyChallengesresponse28"
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/{handle}/challenges/algo?pageIndex={pageIndex}&pageSize={pageSize}&sortOrder={sortOrder}&sortColumn={sortColumn}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get User Algo Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "the user handle that to search"
          },
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The page index of the returned resources. 1-based. It can be null. The default value will be 1"
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The page size of the returned resources. 1-based. It can be null. The default value will be 10."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetUserAlgoChallengesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/user/{handle}/challenges/marathon?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get User Marathon Matches Information_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "the user handle that to search"
          },
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The page index of the returned resources. 1-based. It can be null. The default value will be 1"
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The page size of the returned resources. 1-based. It can be null. The default value will be 10."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null. The valid value are 'id', 'type', 'placement', 'numContestants', 'numSubmitters', 'codingDuration'."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetUserMarathonMatchesInformationresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/validate/{handle}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get_Validate Handle_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ValidateHandleresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/validateSocial?socialProviderId={socialProviderId}&socialUserId={socialUserId}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get_Validate Handle_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "socialProviderId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "social provider id"
          },
          {
            "name": "socialUserId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "social user id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ValidateHandleresponse32"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/resetToken/?handle={handle}&email={email}": {
      "get": {
        "description": "- return \"successful\" flag set to true",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get_Generate Reset Token_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle or Social Login Username"
          },
          {
            "name": "email",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "Member Email (mutually exclusive with handle parameter)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GenerateResetTokenresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/resetPassword/{handle}": {
      "post": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Create_Reset Password_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The reset password token"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The new password"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResetPasswordresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/password": {
      "post": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Update Password_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "oldPassword",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The old password"
          },
          {
            "name": "newPassword",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The new password"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdatePasswordresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/activate?code={code}": {
      "get": {
        "description": "",
        "tags": [
          "User Profile"
        ],
        "operationId": "Get_Activate User_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The activation code"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ActivateUserresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/photo": {
      "post": {
        "description": "Request",
        "tags": [
          "User Profile"
        ],
        "operationId": "Upload Member Photo_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "photo",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "file",
            "format": "file",
            "description": "The photo file."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UploadMemberPhotoresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/reviewOpportunities/?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Get Review Opportunities_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "You can set multi key=value pair parameters to set the filter parameters. The filter parameter can only be following key: reviewType, challengeName, challengeType, reviewStartDate.type, reviewStartDate.firstDate, reviewStartDate.secondDate, reviewEndDate.type, reviewEndDate.firstDate, reviewEndDate.secondDate, reviewPaymentLowerBound, reviewPaymentUpperBound. For the reviewStartDate and reviewEndDate's type, it can only be(case sensitive) BEFORE, AFTER, ON, BETWEEN_DATES, BEFORE_CURRENT_DATE, AFTER_CURRENT_DATE. When the type is BETWEEN_DATES, the secondDate should be provided. The date value should follow this pattern YYYY-MM-DD."
          },
          {
            "name": "value",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "Value of the filter key-value pair"
          },
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The page index of the returned resources. 1-based. It can be null. The default value will be 1"
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The page size of the returned resources. 1-based. It can be null. The default value will be 10."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetReviewOpportunitiesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "406": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/reviewOpportunities/{challengeId}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Get Review Opportunity Information_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetReviewOpportunityInformationresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/reviewOpportunities/{challengeId}/apply": {
      "post": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Create_Apply Develop Review Opportunity Information_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          },
          {
            "name": "reviewApplicationRoleId",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The review application role id to apply."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-is-map": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApplyDevelopReviewOpportunityInformationresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/design/reviewOpportunities/:challengeId/apply": {
      "post": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Create_Apply Design Review Opportunity_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The challenge id"
          },
          {
            "name": "isSpecReview",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The spec review flag"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApplyDesignReviewOpportunityresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/reviewers/{contestType}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "List reviewers of current challenge type_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contestType",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The type of the challenge. It can be 'Assembly', 'ComponentDevelopment', 'TestSuites', 'Reporting', 'ComponentDesign', 'Conceptualization', 'Specification', 'Architecture', 'UIPrototype', 'RIABuild', 'ContentCreation', 'TestScenarios', 'BugHunt'."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Listreviewersofcurrentchallengetyperesponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/users/{handle}/statistics/develop?track={track}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Get_Software Member Statistics_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle"
          },
          {
            "name": "track",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The track name"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/statistics/{handle}/{challengeType}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Get_Software Member Rating History and Distribution_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Member Handle"
          },
          {
            "name": "challengeType",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "Challenge Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SoftwareMemberRatingHistoryandDistributionresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/challengetypes": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "List all challenge types_",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Listallchallengetypesresponse"
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/active?type=develop&pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}&type={type}&platforms={platforms}&technologies={technologies}&prizeLowerBound={prizeLowerBound}&prizeUpperBound={prizeUpperBound}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Search Active Software Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The paging number, 1-based, -1 if no paging. It can be null."
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The max number of the results, should be set if pageIndex is set."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          },
          {
            "name": "communityId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The community id."
          },
          {
            "name": "submissionEndFrom",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date from value."
          },
          {
            "name": "submissionEndTo",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date to value."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "challenge type"
          },
          {
            "name": "platforms",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "platforms filter"
          },
          {
            "name": "technologies",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "technologies filter"
          },
          {
            "name": "prizeLowerBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize lowerbound"
          },
          {
            "name": "prizeUpperBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize upperbound"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchActiveSoftwareChallengesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "406": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/open?type=develop&pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}&type={type}&platforms={platforms}&technologies={technologies}&prizeLowerBound={prizeLowerBound}&prizeUpperBound={prizeUpperBound}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Search Open Software Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The paging number, 1-based, -1 if no paging. It can be null."
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The max number of the results, should be set if pageIndex is set."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          },
          {
            "name": "communityId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The community id."
          },
          {
            "name": "submissionEndFrom",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date from value."
          },
          {
            "name": "submissionEndTo",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date to value."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "challenge type"
          },
          {
            "name": "platforms",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "platforms filter"
          },
          {
            "name": "technologies",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "technologies filter"
          },
          {
            "name": "prizeLowerBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize lowerbound"
          },
          {
            "name": "prizeUpperBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize upperbound"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchOpenSoftwareChallengesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "406": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/past?type=develop&pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}&type={type}&platforms={platforms}&technologies={technologies}&prizeLowerBound={prizeLowerBound}&prizeUpperBound={prizeUpperBound}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Search Past Software Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The paging number, 1-based, -1 if no paging. It can be null."
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The max number of the results, should be set if pageIndex is set."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          },
          {
            "name": "communityId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The community id."
          },
          {
            "name": "submissionEndFrom",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date from value."
          },
          {
            "name": "submissionEndTo",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date to value."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "challenge type"
          },
          {
            "name": "platforms",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "platforms filter"
          },
          {
            "name": "technologies",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "technologies filter"
          },
          {
            "name": "prizeLowerBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize lowerbound"
          },
          {
            "name": "prizeUpperBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize upperbound"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "406": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/challenges/upcoming?type=develop&pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}&type={type}&platforms={platforms}&technologies={technologies}&prizeLowerBound={prizeLowerBound}&prizeUpperBound={prizeUpperBound}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Search Upcoming Software Challenges_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The paging number, 1-based, -1 if no paging. It can be null."
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The max number of the results, should be set if pageIndex is set."
          },
          {
            "name": "sortColumn",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The column name to sort, can be null."
          },
          {
            "name": "sortOrder",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'."
          },
          {
            "name": "communityId",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The community id."
          },
          {
            "name": "submissionEndFrom",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date from value."
          },
          {
            "name": "submissionEndTo",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "submission end date to value."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "challenge type"
          },
          {
            "name": "platforms",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "platforms filter"
          },
          {
            "name": "technologies",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "technologies filter"
          },
          {
            "name": "prizeLowerBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize lowerbound"
          },
          {
            "name": "prizeUpperBound",
            "in": "path",
            "required": false,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "prize upperbound"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchUpcomingSoftwareChallengesresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "406": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/challenges/result/{challengeId}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Get Software Challenge Result_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/challenges/checkpoint/{challengeid}": {
      "get": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Get Software Challenge Checkpoint Detail_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The submission id."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetSoftwareChallengeCheckpointDetailresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/challenges/{challengeid}/submit": {
      "post": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Upload a submission by using base64 encoding_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The name of the file that is being uploaded"
          },
          {
            "name": "fileData",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The Base64 encoded content of the file being uploaded. The example value is 'Hello World' base64 encoded"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The type of submission. Can be 'final' or 'checkpoint'. If absent, 'final' is assumed."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Uploadasubmissionbyusingbase64encodingresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "413": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/develop/challenges/{challengeid}/upload": {
      "post": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Upload a submission by using direct file upload_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challengeid",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double",
            "description": "The challenge id."
          },
          {
            "name": "submissionFile",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The submission zip"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "x-is-map": false,
            "type": "string",
            "description": "The type of submission. Can be 'final' or 'checkpoint'. If absent, 'final' is assumed."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Uploadasubmissionbyusingdirectfileuploadresponse"
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "413": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          },
          "503": {
            "description": "Unexpected error in API call. See HTTP response body for details."
          }
        }
      }
    },
    "/design/challenges/{challlengeId}/submit": {
      "post": {
        "description": "",
        "tags": [
          "Software Challenges"
        ],
        "operationId": "Upload a submission_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "challlengeId",
            "in": "path",
            "required": true,
            "x-is-map": false,
            "type": "string",
            "description": "The challenge id"
[...]
